################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/C-AutoCardMaster/v16
/C-AutoCardMaster/Debug
*.tlog
*.obj
*.pdb
*.exe
*.ilk
